# =========================
# Python / Django
# =========================
__pycache__/
*.py[cod]
*$py.class
venv/

# =========================
# Django
# =========================
db.sqlite3
.env

# =========================
# Logs
# =========================
*.log

# =========================
# Node / Frontend
# =========================
node_modules/

# =========================
# OS / Editor
# =========================
.DS_Store
.vscode/
.idea/

